{% extends 'base.html' %}
  
{% block content %}
    <!-- Header with Background Image -->
    <header class="headline">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="display-3 text-center">ABC finance Inc.</h1>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="content">
    <div class="container paragraph1">

      <div class="row">
        <div class="col-8">
          <h2>About me</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
          <p>
            <a class="btn btn-primary btn-lg aboutlink" href="#">Learn More &raquo;</a>
          </p>
        </div>
        <div class="col-4">
          <h2>Contact Me</h2>
          <address>
            <strong>Name</strong>
            <br>3481 Melrose Place
            <br>Beverly Hills, CA 90210
            <br>
          </address>
          <address>
            <abbr title="Phone">P:</abbr>
            (123) 456-7890
            <br>
            <abbr title="Email">E:</abbr>
            <a href="mailto:#">name@example.com</a>
          </address>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card card1">
            <img class="card-img-top" src='../static/images/nyse.jpg' alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card2">
            <img class="card-img-top" src='../static/images/finance.jpg' alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card3">
            <img class="card-img-top" src='../static/images/fr.jpg' alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

      </div>

    </div>
    </div>
    <!-- Footer -->
    <footer class="bg-dark">
      <div class="container">
        <p class="text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
    </footer>
{% endblock %}